body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #333;
    line-height: 1.6;
    margin: 0;

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h2, h3{
    border: 3px solid gray;
    padding: 10px;
}